<br />
<br />
<div class="container" style="margin-top:100px">

    <div class="row">
        <div class="col-md-12 mb-5">
            <h2>Hantera bokningar</h2>
            <hr>
        </div>

    </div>
    <div class="row">
        <div class="col-md-8 mb-5">
            <h5>Träningshall:</h5>
            <table class="table table-bordered">
                <tr>
                    <th>KundID</th>
                    <th>Från</th>
                    <th>Till</th>
                    <th>Betald</th>
                    <th>Markera som betald</th>
                </tr>

                @foreach (var booking in Repository.TrainingHallBookings)
                {
            <tr>
                <td>@booking.CustomerID</td>
                <td>@booking.StartTime</td>
                <td>@booking.EndTime</td>
                <td>@booking.Payed</td>
                <td>
                    @if (!booking.Payed)
                    {
                        <div class="form-check-inline">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        </div>
                    }
                    else
                    {
                        <div class="form-check-inline">

                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
                        </div>
                    }
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-remove"></span> Delete
                    </button>
                </td>
            </tr>

                }

            </table>
        </div>
        <div class="col-md-2 mb-5"> </div>
    </div>
    <div class="row">

        <div class="col-md-8 mb-5">
            <h5>Hundpensionat:</h5>
            <table class="table table-bordered">
                <tr>
                    <th>BokningsID</th>
                    <th>KundID</th>
                    <th>HundID</th>
                    <th>Från</th>
                    <th>Till</th>
                    <th>Bo med andra</th>
                    <th>Meddelande</th>
                </tr>

                @foreach (var booking in Repository.HotelBookings)
                {
                    <tr>
                        <td>@booking.ID</td>
                        <td>@booking.CustomerID</td>
                        <td>@booking.DogID</td>
                        <td>@booking.From</td>
                        <td>@booking.To</td>
                        <td>@booking.CanLiveWithOtherDogs</td>
                        <td>@booking.CustomerMessage</td>
                        <td>
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-remove"></span> Delete
                            </button>
                        </td>
                    </tr>
                }

            </table>
        </div>
        <div class="col-md-2 mb-5"> </div>

    </div>

    <!-- /.row -->
</div>

