<br />
<br />
<div class="container" style="margin-top:100px">

    <div class="row">
        <div class="col-md-12 mb-5">
            <h2>Hantera kunder</h2>
            <hr>
        </div>

    </div>
    <div class="row">
        <div class="col-md-8 mb-5">
            <table class="table table-bordered">
                <tr>
                    <th>KundID</th>
                    <th>Namn</th>
                    <th>Email</th>
                    <th>Telefon</th>
                </tr>

                @foreach (var cust in Repository.Customers)
                {
                    <tr>
                        <td>@cust.CustomerID</td>
                        <td>@cust.Name</td>
                        <td>@cust.Email</td>
                        <td>@cust.Number</td>
                        <td>
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-remove"></span> Delete
                            </button>
                        </td>

                    </tr>

                }

            </table>
        </div>
        <div class="col-md-2 mb-5"> </div>
    </div>

    <div class="row">
        <div class="col-md-8 mb-5">
            <h5>Kundhundar</h5>

            <table class="table table-bordered">
                <tr>
                    <th>HundID</th>
                    <th>KundID</th>
                    <th>Namn</th>
                    <th>Kön</th>
                    <th>Bild</th>

                </tr>

                @foreach (var dog in Repository.Dogs)
                {
                    <tr>
                        <td>@dog.ID</td>
                        <td>@dog.CustomerID</td>
                        <td>@dog.Name</td>
                        <td>@dog.Sex</td>
                        <td><img src="@dog.Img" /></td>
                        <td>
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-remove"></span> Delete
                            </button>
                        </td>
                    </tr>
                }

            </table>
        </div>
        <div class="col-md-2 mb-5"> </div>
    </div>

    <!-- /.row -->
</div>

