@{
    ViewData["Title"] = "Dog Hotel Booking";
}
@model XArbete.Web.Models.HotelBooking


<link rel="stylesheet" type="text/css" href="~/datetimepicker/jquery.datetimepicker.min.css" />
<br />

<!-- Page Content -->
<div class="container" style="margin-top:100px">

    <div class="row">
        <div class="col-md-12 mb-5">
            <h2>Boka hundpensionat</h2>
            <hr>
            <p>För att boka hundpensionat, registrera dig, logga in och lägg till hund(ar) på mina sidor fliken.</p>
            <p>Du väljer i formuläret nedan vilken hund du vill boka för. Vill du boka två hundar gör du två bokningar.</p>
            <p>Har du speciella önskemål kan du skriva med dessa i bokningen, eller kontakta oss så löser vi dina önskemål i största möjliga mån.</p>

            <a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target="#bookhotel">Boka &raquo;</a>

        </div>

    </div>

</div>

@* Booking Modal *@
<div id="bookhotel" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Boka pensionat</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form asp-controller="DogHotel" asp-action="NewBooking" method="post">

                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Välj hund</label>
                        <select asp-for="@Model.Dog.ID" class="form-control" id="exampleFormControlSelect1">
                            @foreach (var dog in Repository.Dogs.Where(a => a.CustomerID == 1))
                            {
                                <option value="@dog.ID">@dog.Name</option>
                            }
                        </select>
                    </div>


                    <label for="start_time_1">Jag vill lämna</label><br />
                    <input id="start_time_1" asp-for="@Model.From" autocomplete="off" />
                    <br />

                    <label for="start_time_2">Jag vill hämta</label><br />
                    <input id="start_time_2" asp-for="@Model.To" autocomplete="off" />

                    <br />
                    <br />

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" asp-for="Grooming" value="true">
                        <label class="form-check-label" for="inlineCheckbox1">Bad/borstning/kloklipp (300:-)</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" asp-for="Training" value="true">
                        <label class="form-check-label" for="inlineCheckbox2">Träning (250:-)</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" asp-for="ExtraWalk" value="true">
                        <label class="form-check-label" for="inlineCheckbox3">Extra kvällspromenad 1h (250:-)</label>
                    </div>


                    <textarea class="form-control" rows="3" placeholder="Meddelande/önskemål" asp-for="CustomerMessage"></textarea>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-outline-info" value="Boka" />
                </div>
            </form>

        </div>
    </div>
</div>

<script>
    $(function () {
        $("#start_time_1").datetimepicker({
            numberOfMonths: 1,
            dateFormat: "dd-M-yy",
            onSelectDate: function (selected) {
                var dt = new Date(selected);
                dt.setDate(dt.getDate() + 1);
                $("#start_time_2").datetimepicker({
                    minDate: dt
                });
            }
        });
        $("#start_time_2").datetimepicker({
            numberOfMonths: 1,
            dateFormat: "dd-M-yy",
            onSelectDate: function (selected) {
                var dt = new Date(selected);
                dt.setDate(dt.getDate() - 1);
                $("#start_time_1").datetimepicker({
                    maxDate: dt
                });
            }
        });
    });
</script>
<link href="~/Themes/calendar_white.css" rel="stylesheet" type="text/css" />

<script src="~/datetimepicker/jquery.js"></script>

<script src="~/datetimepicker/jquery.datetimepicker.full.js"></script>
