@model XArbete.Web.Features.Admin.AdminContent.ViewModels.ContentListViewModel
@{
    ViewData["Title"] = "Om raserna";

}
<br />
<br />
<div class="container" style="margin-bottom:100px;">

    <div class="row">
        <div class="col-md-12 mb-5">
            <h2>@ViewData["Title"]</h2>
            <hr>
            <div class="row">
                @foreach (var breed in Model.KennelContents)
                {
                    <div class="col-md-6 mb-5">
                        <div class="card  small" style="width: 20rem;">
                            <img  src="~/img/breeds/@breed.Img" class="card-img-top" alt="Bild på @breed.Name" style=" width: 20rem; height: auto; " >
                            <div class="card-body" style="background-color:hsla(120,100%,15%,0.3)">
                                <h5 class="card-title">@breed.Name</h5>
                                <p class="card-text">@breed.Description</p>
                            </div>
                            <ul class="list-group list-group-flush" style="background-color:hsla(120,100%,15%,0.3);">
                                @foreach (var row in breed.Section)
                                {
                                    <li class="list-group-item mb-1" style="background-color:hsla(120,100%,15%,0.3);"><h6>@row.Title</h6> @row.Section</li>

                                }
                            </ul>
                            <div class="card-body" style="background-color:hsla(120,100%,15%,0.3);">
                                <a href="@breed.Link" class="card-link">@breed.LinkDescription</a>
                                @*<a href="#" class="card-link">Another link</a>*@
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
<style>
    .aboutDogsImg{
        border-radius:5px;
    }
</style>