@model XArbete.Web.Features.Kennel.ViewModels.PuppyGroupsViewModel
@{
    ViewData["Title"] = "Våra aktiva valpkullar";

}
<br />
<br />

<!-- Page Content -->
<div class="container" style="margin-top:100px;">

    <div class="row">
        <div class="col-md-12 mb-5">
            <h2>@ViewData["Title"]</h2>
            <hr>
            @if (Model.PuppyGroups.Count != 0)
            {
                @foreach (var group in Model.PuppyGroups)
                {
                    <br />
                    <div class="card text-center shadow p-3 mb-5 bg-white rounded">
                        <div class="card-header">
                            <h3> @group.GroupName</h3>
                            <p>
                                @group.Breed
                            </p>
                            <p>u: @group.Mother.Name e: @group.Father.Name</p>
                            <p>Födelsedatum: @DateTime.Parse(group.DateOfBirth).ToShortDateString()</p>
                            <p><b>Leveransdatum: @DateTime.Parse(group.DateOfBirth).AddMonths(2).ToShortDateString()</b></p>
                        </div>
                        <div class="card-body">
                            <div class="card-deck">

                                @foreach (var puppy in group.Puppies)
                                {

                                    <div class="card ">
                                        <img class="card-img-top" src="~/img/kennelpuppies/@puppy.Img" alt="Bild på @puppy.Name">
                                        <div class="card-body">
                                            <h5 class="card-title">@puppy.Name</h5>
                                            <p class="card-text">@puppy.Sex</p>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted"><b>@(puppy.Sold ? "Såld" : " ")</b></small>
                                        </div>
                                    </div>
                                }
                            </div>

                        </div>
                    </div>
                }
            }
            else
            {
                <h3>Inga aktiva valpkullar, kolla in våra <a asp-controller="Kennel" asp-action="PlannedPuppies">planerade</a> kullar.</h3>
            }
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
<style>
    .card-img-top {
        width: 100%;
        height: 10vw;
        object-fit: cover;
    }
</style>