@model List<XArbete.Web.Features.TrainingHall.ViewModels.TrainingHallBookingViewModel>
<!--HUND HALL BOKNINGAR -->
<div style="overflow-x:auto;">

    <table class="table table-striped table-hover">
        @if (Model.Count == 0)
        {
            <thead>
                <tr></tr>
                <tr>
                    <th><h5>Inga bokningar att visa</h5></th>
                </tr>
            </thead>
        }
        else
        {
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Starttid</th>
                    <th>Sluttid</th>
                    <th>Summa</th>
                    <th>Betalad</th>
                    <th style="width:200px">Avboka</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var booking in Model)
                {
                <tr>
                    <th scope="row">@booking.ID</th>
                    <td>@DateTime.Parse(booking.StartTime).ToString("g")</td>
                    <td>@DateTime.Parse(booking.EndTime).ToString("g")</td>
                    <td>@booking.Price</td>
                    <td>@(booking.Payed ? "Betalad" : "Inte betalad")</td>
                    <td>
                        @if (DateTime.Parse(booking.StartTime) > DateTime.Now)
                        {
                            if (DateTime.Parse(booking.StartTime) < DateTime.Now.AddHours(24))
                            {
                                <p style="color:red"><b>Bokningen är inom 24 timmar och kan inte avbokas.</b></p>
                            }
                            else
                            {
                                <a href="#deleteHallBooking" data-toggle="modal" data-id="@booking.ID" class="btn btn-warning">Avboka</a>
                            }
                        }
                    </td>
                    </tr>
                }
            </tbody>

        }
    </table>
</div>