@model List<XArbete.Web.Features.Customer.ViewModels.CustomerDogViewModel>
    <div style="overflow-x:auto;">
        <table class="table table-striped table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Namn</th>
                    <th scope="col">Ras</th>
                    <th scope="col">Kön</th>
                    <th scope="col">Född</th>
                    <th scope="col">Kastrerad</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var dog in Model)
                {
                    <tr>
                        <th scope="row">@dog.ID</th>
                        <td>@dog.Name</td>
                        <td>@dog.Breed</td>
                        <td>@dog.Sex</td>
                        <td>@dog.DateOfBirth.ToShortDateString()</td>
                        <td>@(dog.Kastrated ? "Ja" : "Nej")</td>
                        <td>
                            <a href="#deleteCustomerDog" class="delete" data-toggle="modal" data-id="@dog.ID">
                                <i class="material-icons" data-toggle="tooltip" title="Radera">
                                    clear
                                </i>
                            </a>
                        </td>
                    </tr>

                }
            </tbody>

        </table>
    </div>