@model XArbete.Web.Admin.ViewModels.AdminManageKennelViewModel

<div style="overflow-x:auto;">
    <div class="table-wrapper">
        <table class="table-add table table-striped table-hover">
            <tbody>
                @foreach (var breed in Model.KennelContents)
                {

                    var target = "#breed" + breed.Id;
                    var id = "breed" + breed.Id;

                    <tr style="cursor:pointer">

                        <td data-toggle="collapse" data-target="@target" class="accordion-toggle"><b>@breed.Name</b></td>

                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="hiddenRow">

                            <div class="accordian-body collapse" id="@id">
                                <input class="breedId" style="display:none" value="@breed.Id" />
                                <label asp-for="@breed.Description">Beskrivning</label>
                                <input contenteditable="true" type="text" id="@($"breedDescription{breed.Id}")" class="form-control breedEditing" name="description" asp-for="@breed.Description" value="@breed.Description" />

                                <br />
                                <label asp-for="@breed.Link">Länk</label>
                                <input contenteditable="true" type="text" id="@($"breedLink{breed.Id}")" class="form-control breedEditing" name="link" asp-for="@breed.Link" value="@breed.Link" />
                                <br />
                                <label asp-for="@breed.LinkDescription">Länkbeskrivning</label>
                                <input contenteditable="true" type="text" id="@($"breedLinkDescription{breed.Id}")" class="form-control breedEditing" name="linktext" asp-for="@breed.LinkDescription" value="@breed.LinkDescription" />
                                <br />
                                <div class="container">
                                    <div class="row">
                                        @if (breed.IsBreed)
                                        {
                                            <div class="col md-6">

                                                <form>
                                                    <input class="breedId" hidden value="@breed.Id" name="id" />
                                                    @{
                                                        var style = "";
                                                    }
                                                    @if (breed.Img == null)
                                                    {
                                                        style = "display:none";
                                                    }
                                                    else
                                                    {
                                                        <label>Bild</label><br />
                                                        <img class="breedImage" src="~/img/breeds/@breed.Img" style="@style" alt="Bild på @breed.Name" id="@($"breedImg{breed.Id}")" />
                                                        <br />
                                                    }
                                                    <input type="file" class="form-control breedFileEditingForm" name="file" @*id="formfile"*@ style="width:80%" />

                                                </form>
                                                <br />
                                            </div>

                                        }
                                        <div class="col md-6">

                                            @{
                                                var breedsection = "breedSections" + @breed.Id;
                                            }
                                            <label>Info sektioner</label>
                                            <div id="@breedsection">
                                                @await Html.PartialAsync("_KennelContentSections", Model.KennelContentSections.Where(a => a.KennelContentId == breed.Id))
                                            </div>
                                            <form asp-controller="AdminKennel" asp-action="NewKennelContentSection" method="get" class="newKennelContentSectionForm">
                                                <input type="hidden" value="@breed.Id" class="newSectionBreedId" />
                                                <div class="row">
                                                    <div class="col">
                                                        <label asp-for="@Model.KennelContentSection.Title">Titel</label>
                                                        <input class="form-control newBreedSectionTitle" asp-for="@Model.KennelContentSection.Title" id="@($"breedSectionTitle{breed.Id}")" />
                                                    </div>
                                                    <div class="col">
                                                        <label asp-for="@Model.KennelContentSection.Section">Text</label>
                                                        <input class="form-control newBreedSectionText" asp-for="@Model.KennelContentSection.Section" id="@($"breedSectionSection{breed.Id}")" />
                                                    </div>
                                                    <div class="col">
                                                        <br />
                                                        <input type="submit" class="btn btn-info btn-sm" value="Lägg till sektion" />

                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </td>
                    </tr>
                }


            </tbody>
        </table>

    </div>
</div>
<script>

    // kennel content functionality

    $(document).ready(function () {


        $(document).on("click", ".deleteKennelSection", function (event) {
            event.preventDefault();
            var sectionId = $(this).data("id");
            var sectionBreedId = $(this).data("breedid");

            var update = "#breedSections" + sectionBreedId;
            $.ajax({
                type: 'GET',
                url: '/AdminKennel/DeleteKennelContentSection?id=' + sectionId,
                cache: false,
                success: function (data) {
                    $(update).html(data);
                },
                error: function (data) {
                    console.log('An error occurred.');
                    console.log(data);
                }
            });
        })

        // add section submit
        $(document).on("submit", ".newKennelContentSectionForm", function (event) {

            event.preventDefault();
            var thisform = $(this);
            var breedId = $(this).children(".newSectionBreedId").val();
            var title = $(this).find(".newBreedSectionTitle").val();
            var text = $(this).find(".newBreedSectionText").val();
            var file = $(this).find(".newBreedSectionText").val();

            var update = '#breedSections' + breedId

            $.ajax({
                type: 'GET',
                url: '/AdminKennel/NewKennelContentSection?id=' + breedId + '&title=' + title + '&text=' + text,
                cache: false,
                success: function (data) {
                    $(update).html(data);

                    $(thisform)[0].reset();
                    CloseModal();
                },
                error: function (data) {
                    console.log('An error occurred.');
                    console.log(data);
                }
            });


        });
        $(document).on("keyup", ".breedEditing", function (event) {

            if (event.keyCode == 13 || event.currentTarget.id == "formfile") {
                event.preventDefault();
                var event = event.currentTarget;
                var ChangedText = event.value;

                var updatedCellName = event.name;

                var a = $(event).siblings('.breedId');
                var breedid = a[0].value;




                $.ajax({
                    type: 'GET',
                    url: '/AdminKennel/EditKennelContent?id=' + breedid + '&' + updatedCellName + '=' + ChangedText,
                    cache: false,
                    success: function (result) {
                        $(event).text(ChangedText);
                        //$(event).blur();
                        $(event).fadeOut(100).fadeIn(100).blur();

                    }
                });
            }

        });

        $(document).on("change", ".breedFileEditingForm", function (event) {

            event.preventDefault();

            var form = $(this).parent("form");
            var formdata = new FormData($(form).get(0));

            var imgToUpdate = $(this).siblings(".breedImage");

            $.ajax({
                url: '/AdminKennel/EditKennelContent',
                type: 'POST',
                data: formdata,
                processData: false,
                contentType: false,
                success: function (data) {
                    var imgsrc = "/img/breeds/" + data.data;
                    imgToUpdate.attr("src", imgsrc);
                    imgToUpdate.show();


                },
                error: function (data) {
                    console.log('An error occurred.');
                    console.log(data);
                }
            });



        });
    });
</script>
