@model IEnumerable<XArbete.Web.Features.Kennel.ViewModels.KennelDogViewModel>

<div style="overflow-x:auto;">

    <div id="table" class="table-editable table-wrapper">

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th style="width:100px">Namn<span> <i class="material-icons" data-toggle="tooltip" title="Redigeringsbar">edit</i></span></th>
                    <th>Ras</th>
                    <th>Född</th>
                    <th>Kön</th>
                    <th>Om <span><i class="material-icons" data-toggle="tooltip" title="Redigeringsbar">edit</i></span></th>
                    <th>Bild</th>
                    <th>
                        <a href="#addKennelDog" class="btn btn-success" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Ny hund">&#xE147;</i> <span></span></a>
                    </th>

                </tr>
            </thead>
            <tbody>

                @foreach (var dog in Model)
                {
                    <tr class="hide">
                        <td class="thedogid">@dog.KennelDogId</td>
                        <td spellcheck="false" contenteditable="true" class="dogname editor">@dog.Name</td>
                        <td>@dog.Breed</td>
                        <td>@DateTime.Parse(dog.DateOfBirth).ToShortDateString()</td>
                        <td>@dog.Sex</td>
                        <td spellcheck="false" contenteditable="true" class="about editor">@dog.About</td>
                        <td>@dog.Img</td>
                        <td>
                            <a href="#deleteKennelDog" class="delete" data-toggle="modal" data-id="@dog.KennelDogId">
                                <i class="material-icons" data-toggle="tooltip" title="Radera">
                                    clear
                                </i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
