@model XArbete.Web.Admin.ViewModels.AdminManageKennelViewModel


<div class="table-wrapper">
    <table class="table-add table table-striped table-hover">
        <tbody>

            @foreach (var breed in Model.KennelContents)
            {

                var target = "#breed" + breed.Id;
                var id = "breed" + breed.Id;

                <tr style="cursor:pointer">

                    <td data-toggle="collapse" data-target="@target" class="accordion-toggle"><b>@breed.Name</b></td>

                    <td>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class="hiddenRow">

                        <div class="accordian-body collapse" id="@id">

                            <input class="breedId" hidden value="@breed.Id" />
                            <label asp-for="@breed.Description"></label>
                            <input contenteditable="true" type="text" class="form-control breedEditing" value="@breed.Description" name="description" />
                            <br />
                            <label asp-for="@breed.Link"></label>
                            <input contenteditable="true" type="text" class="form-control breedEditing" value="@breed.Link" name="link"/>
                            <br />
                            <label asp-for="@breed.LinkDescription"></label>
                            <input contenteditable="true" type="text" class="form-control breedEditing" value="@breed.LinkDescription" name="linktext"/>
                            <br />
                            <br />
                            @{
                                var breedsection = "breedSections" + @breed.Id;
                            }
                            <div id="@breedsection">
                                @await Html.PartialAsync("_KennelContentSections.cshtml", Model.KennelContentSections.Where(a => a.KennelContentId == breed.Id))
                            </div>
                            <form asp-controller="AdminKennel" asp-action="NewBreedSection" method="get" class="newBreedSectionForm">
                                <input type="hidden" value="@breed.Id" class="newSectionBreedId" />
                                <div class="row">
                                    <div class="col">
                                        <label asp-for="@Model.KennelContentSection.Title"></label>
                                        <input class="form-control newBreedSectionTitle" asp-for="@Model.KennelContentSection.Title" />
                                    </div>
                                    <div class="col">
                                        <label asp-for="@Model.KennelContentSection.Section"></label>
                                        <input class="form-control newBreedSectionText" asp-for="@Model.KennelContentSection.Section" />
                                    </div>
                                    <div class="col">
                                        <br />
                                        <input type="submit" class="btn btn-info" value="Lägg till sektion" />
                                    </div>
                                </div>
                            </form>

                        </div>

                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>