@model XArbete.Web.Features.Admin.AdminKennel.ViewModels.AdminManageKennelViewModel
@{
    ViewData["Title"] = "Lägg till valpkull";
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">@ViewData["Title"]</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <form asp-controller="AdminKennel" asp-action="NewPuppyGroup" method="post" data-ajax="true" data-ajax-update="#puppyGroups" data-ajax-success="CloseModal()">
            <div class="modal-body">
                <label asp-for="@Model.PuppyGroup.GroupName">Kullens namn</label>
                <input class="form-control" id="puppy-group-groupname" asp-for="@Model.PuppyGroup.GroupName" required />
                <br />
                <label asp-for="@Model.PuppyGroup.DateOfBirth">Födelsedatum</label>
                <input class="form-control" id="puppy-group-born" asp-for="@Model.PuppyGroup.DateOfBirth" autocomplete="off" required />
                <br />
                <label asp-for="@Model.PuppyGroup.FatherID">Far</label>
                <select class="form-control breed-dropdown" asp-for="@Model.PuppyGroup.FatherID" id="puppy-group-father" required>
                    <option selected disabled label="Välj" value=""> </option>
                    @foreach (var dog in Model.Dogs.Where(a => a.Sex == "Hane"))
                    {
                        <option value="@dog.ID">@dog.Name (@dog.Breed)</option>
                    }
                </select>
                <br />
                <label asp-for="@Model.PuppyGroup.MotherID">Mor</label>
                <select class="form-control breed-dropdown" asp-for="@Model.PuppyGroup.MotherID" id="puppy-group-mother" required>
                    <option selected disabled label="Välj" value=""> </option>
                    @foreach (var dog in Model.Dogs.Where(a => a.Sex == "Tik"))
                    {
                        <option value="@dog.ID">@dog.Name (@dog.Breed)</option>
                    }
                </select><br />
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-success" value="Spara">
            </div>
        </form>
    </div>
</div>