@model XArbete.Web.Features.Kennel.ViewModels.PuppyViewModel
@{ 
    ViewData["Title"] = "Lägg till valp i kull";
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">@ViewData["Title"]</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <form class="newForm" asp-action="NewPuppy">
            <div class="modal-body">
                <label asp-for="Name">Namn</label>
                <input class="form-control" placeholder="(obligatoriskt)" asp-for="@Model.Name" value="" required />
                <br />
                <br />
                <label asp-for="Sex">Kön</label>
                <select class="form-control" asp-for="@Model.Sex" required>
                    <option selected disabled label="Välj" value=""> </option>
                    <option value="Hane">Hane</option>
                    <option value="Tik">Tik</option>
                </select>
                <br />
                <label asp-for="@Model.Img">Bild</label>
                <input type="file" class="form-control" asp-for="@Model.File"/>
            </div>
            <input type="text" hidden asp-for="@Model.PuppyGroupId" id="puppygroupid" />
            <div class="modal-footer">
                <input type="submit" class="btn btn-success" id="newpuppysubmitbtn" value="Spara">
            </div>
        </form>
    </div>
</div>