@model IEnumerable<XArbete.Web.DogHotel.ViewModels.HotelBookingViewModel>
<div style="overflow-x:auto;">

    <table class="table table-striped table-hover">
        @if (Model.Count() == 0)
        {
            <thead>
                <tr></tr>
                <tr>
                    <th><h5>Inga bokningar att visa</h5></th>
                </tr>
            </thead>
        }
        else
        {
            <thead>
                <tr>
                    <th>ID</th>
                    <th>KundID</th>
                    <th>HundID</th>
                    <th>Från</th>
                    <th>Till</th>
                    <th>Tillägg</th>
                    <th>Summa</th>
                    <th>Meddelande</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var booking in Model)
                {
                    <tr>
                        <td>@booking.ID</td>
                        <td>@booking.CustomerID</td>
                        <td>@booking.DogID</td>
                        <td>@DateTime.Parse(booking.From).ToString("g")</td>
                        <td>@DateTime.Parse(booking.To).ToString("g")</td>
                        <td>@(booking.Training ? "+Träning" : "") @(booking.Grooming ? " +Pälsvård" : "") @(booking.ExtraWalk ? " +Promenad" : "")</td>
                        <td>@booking.Price</td>
                        <td>@booking.CustomerMessage</td>
                        <td>
                            <a href="#deleteHotelBookingModal" class="delete" data-toggle="modal" data-id="@booking.ID"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                        </td>
                    </tr>
                }

            </tbody>
        }
    </table>
</div>